@use '@styles/variables.module.scss' as *;
@use '@styles/classes.module.scss' as *;

.label {
  display: flex;
  flex-direction: column;
  color: $color-primary;
  font-size: 1.5rem;
}

.input {
  margin-bottom: 0.5em;

  border: 1px solid $border;
  border-radius: $border-radius;
  background: $color-secondary;
  color: $color-primary;

  transition: border-color 0.2s;

  &::placeholder {
    color: $color-muted;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &:disabled {
    background: #f0f0f0;
    color: $color-muted;
    cursor: not-allowed;
  }
}
