@use '@styles/variables.module.scss' as *;
@use '@styles/classes.module.scss' as *;

.label {
  display: flex;
  flex-direction: column;
  color: $color-primary;
  font-size: 1.3rem;
}

.input {
  border-radius: $border-radius;
  border: 1px solid $border-light;

  color: $color-primary;
  font-size: 1.4rem;

  transition: border-color 0.2s;

  &::placeholder {
    color: $color-accent;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &:disabled {
    background: $color-muted;
    color: $color-primary;
    cursor: not-allowed;
  }
}
