@use '@styles/variables.module.scss' as *;
@use '@styles/classes.module.scss' as *;

@use 'sass:color';

.button {
  border: none;
  border-radius: $border-radius;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.18s;

  &:disabled,
  &[aria-disabled='true'] {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* Color modifiers */
.primary {
  background-color: $color-primary;
  color: $color-secondary;
  &:hover:not(:disabled):not([aria-disabled='true']) {
    background-color: color.adjust($color-accent, $lightness: 5%);
  }
}

.secondary {
  background-color: $color-secondary;
  color: $color-primary;
  &:hover:not(:disabled):not([aria-disabled='true']) {
    background-color: color.adjust($color-secondary, $lightness: -5%);
  }
}

.accent {
  background-color: $color-accent;
  color: $color-secondary;
  &:hover:not(:disabled):not([aria-disabled='true']) {
    background-color: color.adjust($color-accent, $lightness: 5%);
  }
}

.muted {
  background: transparent;
  color: $color-muted;
  border: 1px solid $border;
  &:hover:not(:disabled):not([aria-disabled='true']) {
    background-color: $color-accent;
    color: $color-primary;
    border-color: $color-primary;
  }
}

/* Width modifiers */
.width-content {
  width: max-content;
}

.width-full {
  width: 100%;
  display: block; // ensures it fills parent
}
