@use '@styles/variables.module.scss' as *;

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  background-color: $dark-color;
  color: $light-color;
  font-weight: bold;

  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
