@use '@styles/variables.module.scss' as *;

.home-container {
  background: linear-gradient(120deg, $light-color 0%, $darker-color 100%);
  border-radius: 16px;
  max-width: 400px;
  margin: 60px auto;
  padding: 2.5rem 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.13);

  h1 {
    color: $lighter-color;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  p {
    color: $darker-color;
    font-size: 1.1rem;
  }
}
