@use '@styles/variables.module.scss' as *;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $dark-color;
}

.form {
  background: $light-color;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(30, 30, 58, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: $darker-color;
  }

  label {
    display: flex;
    flex-direction: column;
    color: $darker-color;
    font-size: 1.5rem;

    input {
      margin-top: 0.2em;
      padding: 0.5rem;
      border: 1px solid $darker-color;
      border-radius: 4px;
      font-size: 1rem;
      background: $light-color;
      color: $darker-color;

      &:disabled {
        background: #f0f0f0;
      }
    }
  }
}

.error {
  color: #f44;
  background: #fff0f0;
  border: 1px solid #fcc;
  border-radius: 4px;
  padding: 0.7em;
  margin-top: 0.5em;
  text-align: center;
}
