@use '@styles/variables.module.scss' as *;

.barber-dashboard {
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;

  :nth-child(4) {
    grid-column: span 2;
  }

  :nth-child(6) {
    grid-column: span 3;
  }

  .value {
    display: block;
    margin-top: 1rem;

    font-size: 2rem;
    font-weight: 800;
    color: $color-primary;
  }

  .action {
    padding-block: 1rem;
  }

  .table-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .table-title-name {
      display: block;
      height: 1.7rem;
      font-weight: 600;
    }
  }

  .availability-date {
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .availability-slots {
    display: flex;

    .slots {
      color: $color-primary;
      font-size: 1rem;
      font-weight: 600;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .review-comment {
    display: flex;

    .comment {
      color: $color-lighter;
      font-size: 1.2rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .review-date {
    display: flex;

    .date {
      color: $color-primary;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
