barbermanager.creepymemes.com, barbermanager.rockpi.local {

	# Add logging
	import log_common

	# Set custom SSL certificates
	tls /etc/caddy/ssl/origin.crt /etc/caddy/ssl/origin.key

	handle /api/* {
		reverse_proxy 127.0.0.1:7001
	}

	handle /* {
		reverse_proxy 127.0.0.1:3001
	}
}
