@use '@styles/variables.module.scss' as *;

.dashboard-wrapper {
  min-height: 90vh;
  background: $color-primary;
  padding: 3rem 0;
}
.no-profile {
  color: $color-error-bg;
  margin: 5rem auto;
  text-align: center;
}
