.wrapper {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Default (md)
  width: 21px;
  height: 21px;

  &.sm {
    width: 15px;
    height: 15px;
  }

  &.md {
    width: 21px;
    height: 21px;
  }

  &.lg {
    width: 30px;
    height: 30px;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  width: 100%;
  height: 100%;
}
