@use '@styles/variables.module.scss' as *;

// --------------- Alignment classes ---------------
.center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
