$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$light-color: #fcf9f5;
$lighter-color: #464846;
$dark-color: #383939;
$darker-color: #3a3b3a;

// $primary-color: #3057e7;
// $color-border: #e2e2e2;
// $radius-main: 7px;
// $header-height: 56px;
