// Main Colors
$color-primary: #2b2b2a;
$color-secondary: #e3e1dd;
$color-light: #f9f7f3;
$color-accent: #585858;
$color-muted: #a5a39a;

$color-error-bg: #fae1e1; // error background color
$color-error: #f44;
$color-lighter: #454545;
$color-main: #343432;
$color-card: #f4f2ee;
$color-icon: #d6d3cd;

// Borders/Shadows
$border: #696968;
$border-light: #bab8b8;
$border-error: #fba4a4;
$border-radius: 8px;

// Screen sizes
$bp-huge: 126.87em; //2030px
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-medium-small: 48em; // 768px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
