.item {
  /* border: 1px solid #ddd; */
  background-color: #383838;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: left;

  display: flex;
  justify-content: space-between;
}

p {
  display: flex;
  margin: 0;
  padding: 0;
}
