@use '@styles/variables.module.scss' as *;

.admin-barbers {
  padding: 5rem;

  .action {
    padding: 1rem;
  }

  .table-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .table-title-name {
      display: block;
      height: 1.7rem; // this is a hack to align icon with title
      font-weight: 600;
    }
  }

  .email {
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .revenue {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .tag {
    width: 7rem;
    text-align: center; // centers text in tag
  }
}

// Delete barber Popup
.delete-barber-popup {
  padding: 5rem;

  .delete-barber {
    width: 40rem;

    .delete-barber-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .delete-barber-title {
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    .delete-barber-content {
      margin-top: 2rem;
      text-align: center;

      .delete-barber-text {
        font-size: 1.5rem;
      }

      .delete-barber-email {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .delete-barber-action {
      margin-block: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .line {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
