@use '@styles/variables.module.scss' as *;

.footer-area {
  flex-shrink: 0; // Prevent sidebar from changing height

  height: 6rem;
  border-top: 1px solid $border;
  background: $color-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer {
    width: 100%;
    padding-inline: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
      display: flex;
      gap: 2.2rem;
      list-style: none;

      a {
        color: $color-muted;
        text-decoration: none;
        font-size: 1.12rem;
        transition: color 0.16s;

        &:hover {
          color: $color-muted;
          text-decoration: underline;
        }
      }
    }

    .copyright {
      font-size: 1rem;
      color: $color-muted;
    }
  }
}
