@use '@styles/variables.module.scss' as *;

.login {
  height: 100vh;
  background: $color-primary;

  display: flex;
  justify-content: center;
  align-items: center;

  .line {
    display: flex;
    gap: 1rem;
  }
}
