@use '@styles/variables.module.scss' as *;

.home-container {
  // min-height: 100vh;

  .text {
    max-width: 400px;
    padding: 2.5rem 2rem;
    margin: 60px auto;
    background: $color-secondary;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  h1 {
    color: $color-primary;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  p {
    color: $color-muted;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}
