@use '@styles/variables.module.scss' as *;
@use '@styles/classes.module.scss' as *;

.hero {
  flex: 1 1 0;
  min-height: 0; // Allows flexbox to let it shrink in overflow
  display: flex;
}

.left {
  flex: 1;
  color: $color-primary;
}

.right {
  flex: 1;
  background: $color-secondary;
  color: $color-secondary;
}
