@use '@styles/variables.module.scss' as *;
@use '@styles/classes.module.scss' as *;

.error {
  color: $color-error;
  background: $color-error-bg;
  border: 1px solid $border-error;
  border-radius: $border-radius;

  padding: 0.7em;

  display: flex;
  justify-content: center;
  align-items: center;
}
