@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$light-color: #fcf9f5;
$lighter-color: #464846;
$dark-color: #383939;
$darker-color: #3a3b3a;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Share Tech';
  color: $light-color;
  font-weight: 400;
  line-height: 1.6;
  background-color: $dark-color;
  min-height: calc(100vh - 2 * 4vw);
}
