@use '@styles/variables.module.scss' as *;

.client-dashboard {
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;

  :nth-child(4),
  :nth-child(5) {
    grid-column: span 2;
  }

  .nextAppointment-value {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.8rem;

    .nextAppointment-date {
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-primary;
    }

    .nextAppointment-slot {
      font-size: 2rem;
      font-weight: 600;
      color: $color-primary;
    }
  }

  .appointment-row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    .appointment-date {
      font-weight: 700;
      color: $color-accent;
      font-size: 1.03rem;
    }

    .appointment-slot {
      color: $color-main;
      font-size: 1.02rem;
    }

    .appointment-status {
      color: $color-lighter;
      font-weight: 700;
      font-size: 1.01rem;
      margin-left: auto;
      text-transform: capitalize;
    }
  }

  .review-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .stars {
      color: #fabb3d;
      font-size: 1.09rem;
      letter-spacing: 0.1em;
      font-family: inherit;
      font-weight: 700;
    }
    .review-comment {
      color: $color-lighter;
      margin-left: 0.7rem;
      font-size: 1.02rem;
      max-width: 14rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .review-date {
      color: $color-muted;
      margin-left: auto;
      font-size: 0.96rem;
      font-style: italic;
    }
  }
}
