@use '@styles/variables.module.scss' as *;
.card {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  grid-column: span 2;

  .icon {
    border-radius: 50%;
    background-color: $color-icon;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    box-shadow: 0 0.5rem 1.5rem rgba($color-accent, 0.05);
  }

  .content {
    flex: 1;

    .label {
      color: $color-main;
      font-weight: 700;
      font-size: 1.22rem;
      letter-spacing: 0.03em;
      margin-bottom: 0.8rem;
      line-height: 1.2;
    }

    .value {
      font-size: 2rem;
      font-weight: 800;
      color: $color-primary;
      margin-bottom: 0.1rem;
    }

    .empty {
      color: $color-muted;
      font-style: italic;
      font-size: 1.04rem;
      padding-top: 0.2rem;
      letter-spacing: 0.01em;
    }

    .next-appointment,
    .last-appointment {
      display: flex;
      gap: 1.2rem;
      align-items: baseline;

      .next-appointment-date,
      .last-appointment-date {
        font-weight: 700;
        color: $color-accent;
        font-size: 1.03rem;
      }

      .next-appointment-slot,
      .last-appointment-slot {
        color: $color-main;
        font-size: 1.02rem;
      }

      .last-appointment-status {
        color: $color-lighter;
        font-weight: 700;
        font-size: 1.01rem;
        margin-left: auto;
        text-transform: capitalize;
      }
    }
    .last-review {
      display: flex;
      align-items: baseline;
      gap: 0.7rem;

      .stars {
        color: #fabb3d;
        font-size: 1.09rem;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: 0.08em;
      }

      .review-comment {
        color: $color-lighter;
        font-size: 0.97rem;
        max-width: 15rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .review-date {
        color: $color-muted;
        font-size: 0.96rem;
        font-style: italic;
        margin-left: 0.7rem;
      }
    }
  }
}
// Special Card for Rating Chart
.card-rating {
  @extend .card;
  min-height: 18rem;
  justify-content: center;
  align-items: center;

  grid-row: span 2;
  grid-column: span 1;

  .chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    .label {
      font-size: 1.17rem;
      font-weight: 700;
      color: $color-main;
      margin-bottom: 1.2rem;
      text-align: center;
    }
  }
}
