@use '@styles/variables.module.scss' as *;
.card {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  grid-column: span 2;

  .icon {
    border-radius: 50%;
    background-color: $color-icon;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    box-shadow: 0 0.5rem 1.5rem rgba($color-accent, 0.05);
  }

  .content {
    flex: 1;

    .label {
      color: $color-main;
      font-weight: 700;
      font-size: 1.22rem;
      letter-spacing: 0.03em;
      margin-bottom: 0.8rem;
      line-height: 1.2;
    }

    .value {
      font-size: 2rem;
      font-weight: 800;
      color: $color-primary;
      margin-bottom: 0.1rem;

      display: flex;
      gap: 2rem;
    }

    .empty {
      color: $color-muted;
      font-style: italic;
      font-size: 1.04rem;
      padding-top: 0.2rem;
      letter-spacing: 0.01em;
    }

    .list-item {
      display: flex;
      gap: 2rem;
      align-items: baseline;

      .appointment-date {
        font-weight: 700;
        color: $color-accent;
        font-size: 1.03rem;
      }

      .appointment-slot {
        color: $color-main;
        font-size: 1.02rem;
      }

      .appointment-status {
        color: $color-lighter;
        font-weight: 700;
        font-size: 1.01rem;
        margin-left: auto;
        text-transform: capitalize;
      }

      // Reviews styles
      .stars {
        color: #fabb3d;
        font-size: 1.09rem;
        letter-spacing: 0.1em;
        font-family: inherit;
        font-weight: 700;
      }

      .review-comment {
        color: $color-lighter;
        margin-left: 0.7rem;
        font-size: 1.02rem;
        max-width: 14rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .review-date {
        color: $color-muted;
        margin-left: auto;
        font-size: 0.96rem;
        font-style: italic;
      }
    }
  }
}
