@use '@styles/variables.module.scss' as *;

// Layout is "Holy Grail": header/footer fixed, sidebar fixed, main scrolls
.app-shell {
  height: 100vh;
  background: $color-primary;

  display: flex;
  flex-direction: column;
}

// App main area (sidebar + content)
.shell-main-area {
  overflow: hidden;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

// Header, fixed height, 100% width
.header-area {
  flex-shrink: 0; // Prevent sidebar from changing height

  height: 6rem;
  border-bottom: 1px solid $border;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Sidebar, fixed width, 100% of height, independent scroll
.sidebar-area {
  overflow-y: auto;
  flex-shrink: 0; // Prevent sidebar from changing width

  width: 27rem;
  border-right: 1px solid $border;

  display: flex;
  justify-content: center;
}

// Content area, fills remaining space, scrolls independently
.main-area {
  overflow-y: auto;

  width: 100%;

  // display: flex;
  // justify-content: center;
}

// TODO
// @media (max-width: $bp-small) {
//   .shell-main-area {
//     flex-direction: column;
//   }
//   .sidebar-area {
//     width: 100%;
//     min-width: 0;
//     max-width: none;
//     min-height: 10rem; // You might want to collapse or hide sidebar on mobile
//     border-right: none;
//     border-bottom: 1px solid $border;
//     order: 0; // show sidebar above content if you want
//   }
//   .main-area {
//     // padding: 1.1rem 0.7rem 7rem 0.7rem;
//   }
// }
