@use '@styles/variables.module.scss' as *;

// Layout is "Holy Grail": header/footer fixed, sidebar fixed, main scrolls
.app-shell {
  height: 100vh;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: $color-primary;
}

// // Header/footer always visible
// .app-shell > :first-child {
//   flex: 0 0 auto;
// }
// .app-shell > :last-child {
//   flex: 0 0 auto;
// }

// -main area (sidebar + content)
.shell-main-area {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: row;
  // background: $color-secondary;
  overflow: hidden;
}

// Sidebar: fixed width, 100% of height, independent scroll
.sidebar-area {
  width: 27rem;
  // height: 100%;
  border-right: 1px solid $border;

  // background: $color-primary;
  overflow-y: auto;

  display: flex;
  justify-content: center;
}

// -main area: fills remaining space, scrolls independently
.main-area {
  flex: 1 1 0%;

  // background: $color-secondary;
  // padding: 3rem 2.5rem;
  overflow-y: auto;
  // color: $color-primary;

  display: flex;
  justify-content: center;
  // flex-direction: column;
}

// todo better
@media (max-width: $bp-small) {
  .shell-main-area {
    flex-direction: column;
  }
  .sidebar-area {
    width: 100%;
    min-width: 0;
    max-width: none;
    min-height: 10rem; // You might want to collapse or hide sidebar on mobile
    border-right: none;
    border-bottom: 1px solid $border;
    order: 0; // show sidebar above content if you want
  }
  .main-area {
    // padding: 1.1rem 0.7rem 7rem 0.7rem;
  }
}
